@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

html, body {
    height: 100%;
    margin: 0px;
}

.material-icons {
  font-family: 'Material Icons';
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  margin-top: 20px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }

.material-icons.back{
    font-size: 36px;
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    opacity: 0.6;
}



.material-icons.next{
    font-size: 40px;
    margin-top: 100%;
}

.material-icons.menu{
    font-size: 40px;
    margin-top: 320%;
}

.bar{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.sidebar{
    display: block;
    height: 100%;
    width:5%;
    background-color: #222222;
    text-align: center;
    float: left;
}

.door{
    height: 100%;
    width: 0%;
    opacity:0;
    background-color: #343434;
    /* float:left; */
    border-radius: 0% 2.5% 2.5% 0%; 
    transition: width 0.5s, opacity 0.2s;
    display: inline-block;
}

.header{
    height: 10%;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    position: fixed;
    box-shadow: 0px 10px 22px 0px rgba(227,202,227,1);
    margin: 0;
}

.title{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    left: 45%;
    bottom: -30%;
    opacity: 0.8;
}

.white{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    color: white;
    margin-left: 1%;
    /* float: right; */
}

.white.small{
    font-size: 15px;
    margin-top: 3%;
}

.logo{
    width: 4%;
    height:auto;
    float: right;
    margin: 0.8%;
}

hr.style1{
    border-top: 1px solid #8c8b8b;
    margin-top: 15%;
    width: 90%;
    margin-left: 4.3%;
}
hr.style1.small{
    border-top: 1px solid #8c8b8b;
    margin-top: 15%;
    width: 90%;
    height: 0.1px;
    margin-left: 4.3%;
    opacity: 0.6;
    margin-top: 20%;
}

.search{
    position: absolute;
    left: 6.1%;
    height: 25px;
    width: 17%;
    background-color: grey;
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile{
    width: 16%;
    border-radius: 50%;
}
 
.searchbar{
    display: inline-block;
}